CompileFlags:
  Add: [-DUTEST_UTIL,
        -DUTEST_CTAP, 
        -DUTEST_CORE, 
        -DUTEST_AUD, 
        -DUTEST_GFX,
        -DUTEST_PHYS,
        -DUTEST_INPUT,
        -Wno-unused-macros,
        -Wno-unused-functions]
